@{
    
    Layout = "~/Layout/_Layout.cshtml";
    Page.Title = "Home";
    
}

<p>Wilt u een account maken en een wenslijst maken of cadeau's toevoegen? klik dan op "Ingang voor bruiden".</p>
<p>bent u een gast en wilt u cadeau's reserveren? klik dan op "Ik ben een gast".</p>

<br/>  
        <div>
        <form action="~/Login" method="post" style="float: left">
            <input type="Submit" value="Ingang voor bruiden" /><br/>
            </form>
            </div>
<div>
        <form action="~/Gifts" method="post" style="float: left">
            <input type="Submit" value="Ik ben een gast" /><br/>  
            </form>
            </div>
<br/> 
